<div class="container_big-card">
  <div class="big-card__pictuer">
    <img
      src="https://avatars.mds.yandex.net/i?id=a082691bb148baea56d501768b2e4a17cd420a88-8497405-images-thumbs&n=13"
      alt=""
      height="200px"
      srcset=""
    />
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        voluptate alias molestias minus inventore odit perspiciatis quos! Esse
        temporibus ducimus provident accusamus fugit praesentium earum
        consectetur magni animi? Alias, voluptatum.
      </a>
    </p>
  </div>
</div>
