.container__content {
    width: 100%;
    height: 100%;
    margin: 20px 100px;



    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__cover>img {
    border: solid white 3px;
    border-radius: 5px;
    width: 500px;
    height: 250px;
    min-width: 500px;
    margin-top: 20px;

}

.content__description {
    margin-top: 10px;

}

.content__description>p {
    color: rgb(169, 169, 169);
    margin: 10px;
}

.content__description>a {
    margin: 20px;
}